@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i&display=swap');
@import 'meyerStyle.scss';

$footerColor: #c2c2c2;
$textColor: #ffffff;


html{
    background: black;
    color: $textColor;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
}

// HEADER-----------



.wrapper{
    transition: all 1s;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;

    .item{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 3%;

        .choose{
            margin: 10%;
        }
    }

    .logo{
        width: 60%;

    }

}

.sections{
    background: white;
    margin: 10%;

}


.wrapperAfter{
    transition: all 1s;
    height: 35%;
    margin: 5% 0% 5% 0%;
    .logo{
        width: 30%;
        margin: 0%;

    }
    .sections{
        background: white;
        margin: 5%;
    }
}


// SECTIONS-----------------

.cards {
    transition: all 1s;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  
    a {
        position: relative;
        color: $textColor;
    }

}

.article-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
  
.article-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}


footer{
    text-align: center;
    color: $footerColor;
    width: auto;
}

@media screen and (min-width: 600px)  {

    .wrapper{

        flex-direction: row;
        .item{
            margin: 0%;
            text-align: left;
    
        }

        .logo{
            width: 20%;
    
        }
  
        
    }

    .wrapperAfter{
        // transition: all 1s;
        height: 7%;

        .logo{
            width: 10%;
            margin-right: 10%;
    
        }
        .sections{
            background: white;
            margin: 5%;
        }
        .item{
            margin: 0%;
            text-align: center;
    
        }
    }


    .cards {
        grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
      }
    
    .logo{
        width: 10%;
    }

}


@media screen and (min-width: 1240px)  {
    .wrapper{
        justify-content: flex-start;
        // padding-left: 10%;
        height: 90%;
    }

    .logo{
        padding-left: 5%;
        width: 20%;
    
    }
    
    footer{
        padding-left: 5%;
        text-align: left;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
      }

      .wrapperAfter{
        transition: all 1s;
        height: 7%;

        .logo{
            width: 10%;
            margin-right: 10%;
    
        }
        .sections{
            background: white;
            margin: 5%;
        }
        .item{
            margin: 0%;
            text-align: left;
    
        }
    }

    

}
