@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i&display=swap');
@import 'meyerStyle.scss';

$footerColor: #c2c2c2;
$textColor: #ffffff;


html{
    background: black;
    color: $textColor;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


.wrapper{
    display: flex;
    font-size: 16px;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;

    .item{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 3%;

        .choose{
            margin: 10%;
        }
    }

    .logo{
        width: 60%;
    
    }

}




.sections{
    background: white;
    margin: 10%;

}

footer{
    text-align: center;
    color: $footerColor;
}

@media screen and (min-width: 600px)  {

    .wrapper{

        flex-direction: row;

        
    }
    .item{
        margin: 0%;
    }




}


@media screen and (min-width: 1240px)  {
    .wrapper{
        justify-content: flex-start;
        padding-left: 10%;
        height: 90%;
    }

    footer{
        padding-left: 10%;
        text-align: left;
    }

}
